*{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: medium;
    padding: 0px;
    border-radius: 5px solid red;
    position: relative;

}

