*{
    background-color: rgb(160, 193, 212);
    position: relative;
    text-align: center;
    color: rgb(10, 10, 15);
    margin: 0%;
    padding: 0%;

}
.container{
    width: 70%;
    margin: auto;
    border: 1px solid red;

}
header{
    background-color: brown;
    height: 100px;
    width: 100px;
    margin: 0%;
    text-align: center;
    line-height: 100px;
    color: black;
    border-bottom-color: black;
}
.content{
    border: 1px solid black;
    margin: 0% auto;
    padding: 0%;

}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;

}
nav{
    background-color: aliceblue;
    height: 50;
}